/* add your CSS here */
.fev-animal{
	border: 1px solid #ccc ;
	float: left;
	height: auto;
	margin: auto;
    width: 320px;
	-webkit-box-shadow: 9px 11px 33px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 11px 33px -7px rgba(0,0,0,0.75);
	box-shadow: 9px 11px 33px -7px rgba(0,0,0,0.75);
	padding: 5px
}
.animal-desc{
	border: 1px solid #ccc;
	margin-left: auto;
    margin-right: auto;
	width:280px;
	padding: 10px;
}
.animal-desc ul{
	padding-left: 0px
}
.animal-desc .fav-item span{
	font-weight: bold;
}

.int-fact{
	font-style: italic;
}
.fav-item{
	list-style-type: none;
}
.ani-img{
	padding-bottom: 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

